.chatList {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    li {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 10px 0px;

        .user {
            width: fit-content;
            max-width: 50%;
            align-self: flex-end;
            background-color: var(--bg-chat-user);
            border-radius: 10px;
            // text-align: flex-end;

            p {
                padding: 10px 20px;
                text-align: justify;
                margin: 0px;
            }

        }

        .ai {
            display: flex;
            flex: 1;
            flex-direction: column;
            height: fit-content;
        }

        &:last-child {
            min-height: calc(100dvh - 300px);
        }

        p {
            white-space: pre-wrap;
        }
    }


}