
h2 {
    display: flex;
    flex: 1;
    align-items: flex-start;
    font-weight: 200;
}


div {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

}