
:host {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0);
    // border-bottom: 1px solid var(--border-color);

    h2 {
        margin: 0;
        font-weight: 200;
    }

}